default menu.c32
prompt 0
timeout 30
ONTIMEOUT 1

menu title ########## CentOS7 PXE Boot Menu ##########

label 1
menu label ^1 Install CentOS 7 minimal
kernel centos7-min/vmlinuz
append initrd=centos7-min/initrd.img ip=dhcp showopts method=http://10.1.1.2/isos/centos7-min/iso devfs=nomount ks=http://10.1.1.2/kickstart/centos7-min.conf
